:root {
  --black-1: #212529;
  --black-2: #495057;
  --white: #f8f9fa;
  --gray: #6c757d;
  --blue-1: #1e88e5;
  --blue-2: #42a5f5;
}

/******* ADVANCED-SEARCH.HTML *******/
h1 {
  color: var(--gray);
  font-weight: 400;
  margin-bottom: 2em;
}

#advanced {
  margin: 0 auto;
  max-width: 900px;
  padding: 2rem;
  color: var(--gray);
}

#advanced .fila {
  display: grid;
  grid-template-columns: 250px 1fr;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

#advanced label {
  line-height: 1.4;
}

#advanced input {
  width: clamp(200px, 60vw, 300px);
  padding: clamp(0.5rem, 0.5vw, 1rem);
  border-radius: 25px;
  margin-top: 12px;
  border-radius: 4px;
  background-color: transparent;
  border-color: var(--white);
}

#advanced button {
  color: var(--white);
  background-color: var(--blue-1);
  padding: 1em;
  border-color: transparent;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}

#advanced button:hover {
  background-color: var(--blue-2);
  transition: all 0.2s ease-in-out;
}

@media (max-width: 768px) {
  #advanced .fila {
    grid-template-columns: 1fr;
  }

  #advanced label {
    margin-bottom: 0.5rem;
  }
}
